body,html{
    height: 100%;
    max-height: 100%;
    overflow:hidden;
    background-color:#1ccc90;
}
*{
    font-family: 'Nunito', sans-serif;
}
.col-left{
    background-color: #072f2c;
}
.message-container>.row>div>span{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 75%;
    background-color: #f1f1f1;
}
.remove-paddings{
    padding-left: 0;
    padding-right: 0;
}
.restore-paddings{
    padding-left: 15px;
    padding-right: 15px;
}
#messageBoxTag{
    width: 100%;
    height: 100%;
}
#messageBoxTag>div>div{
    max-width: 75% !important;
}
.message-blop{
    padding: 10px 15px !important;
    border-radius: 15px;
}
.message-blop[data-author="user"]{
    background-color: #00dcff;
    color: #fff;
}
.message-blop[data-author="sender"]{
    background-color: #0c5651;
    color: #dedede;
}
.message-blop[data-cluster=true]{
    margin-bottom: 1px !important;
}
.message-blop[data-author="user"][data-cluster=true][data-cluster-pos="start"]{
    border-bottom-right-radius: 5px;
}
.message-blop[data-author="user"][data-cluster=true][data-cluster-pos="middle"]{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.message-blop[data-author="user"][data-cluster=true][data-cluster-pos="end"]{
    border-top-right-radius: 5px;
}
.message-blop[data-author="sender"][data-cluster=true][data-cluster-pos="start"]{
    border-bottom-left-radius: 5px;
}
.message-blop[data-author="sender"][data-cluster=true][data-cluster-pos="middle"]{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.message-blop[data-author="sender"][data-cluster=true][data-cluster-pos="end"]{
    border-top-left-radius: 5px;
}
.input-box{
    width: 95%;
    height: 60%;
    border-radius: 50px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.messanger-input{
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    padding-left: 25px;
}
.send-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    width: 35px;
    height: 35px;
    background-color: #3e3e3e;
    border-radius: 50%;
    transition: 1s;
}
button:hover{
    background-color: #656565;
}
.layout-boxes>.row:first-child{
    height: 6vh;
    background-color: #0c5651;
    position: relative;
}
.layout-boxes>.row:last-child{
    height: 8vh;
    position:relative;
}
.layout-boxes>.row:nth-child(2){
    height: calc(100vh - 14vh);
    max-height: calc(100vh - 14vh);
}
.layout-boxes>.row:first-child>div{
    color: #dedede;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}
button>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1ccc90;
}
span[data-status]{
    margin-left: 5px;
    font-size: .75em;
}
span[data-status="online"]{
    color: yellowgreen;
}
span[data-status="offline"]{
    color: red;
}
span[data-status="online"]::before{
    color: yellowgreen;
    content: "[online]";
}
span[data-status="offline"]::before{
    color: red;
    content: "[offline]";
}
.col-left>div>div>.row:first-child>.d-inline-flex::before{
    color: #ffffff50;
    font-size: 1.1rem;
    position: absolute;
    content: "Java Communicator";
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.col-left>div>div>.row:first-child>.d-inline-flex::after {
    content : "";
    position: absolute;
    left    : 50%;
    transform: translateX(-50%);
    bottom  : 0;
    height  : 1px;
    width   : 90%;
    border-bottom:1px solid #ffffff50;
}
.col-left>div>div>.row>.flex-column>.flex-row[data-active-convo=true]{
    width: 100%;
    color: #dedede;
    background-color: #00000026;
}
.col-left>div>div>.row>.flex-column>.flex-row{
    width: 100%;
    color: #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .75s;
    cursor: pointer;
}
.col-left>div>div>.row>.flex-column>.flex-row>.d-inline-flex{
    margin-left: 15px;
}
.col-left>div>div>.row>.flex-column>.flex-row:hover{
    background-color: #ffffff26;
}
.col-left>div>div>.row:first-child{
    height: 6vh;
    position: relative;
}
.col-left>div>div>.row:last-child{
    height: 5vh;
    position:relative;
}
.col-left>div>div>.row:nth-child(2){
    margin-top: 5px;
    height: calc(100vh - 11vh);
    max-height: calc(100vh - 11vh);
}
.image-wrap{
    height: 2rem;
}
.image-wrap>img{
    height: 100%;
    border-radius: 50%;
}
.col-left>div>div>.row>.flex-column>.flex-row{
    position: relative;
}
.col-left>div>div>.row>.flex-column>.flex-row>.d-inline-flex>div:last-child{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}
.col-left>div>div>.row>.flex-column>.flex-row>.d-inline-flex>div>span{
    position: absolute;
    top: 0;
}
.col-left>div>div>.row:last-child>.d-inline-flex{
    position: relative;
    color: #fff;
    background-color: #ffffff50;
}
.col-left>div>div>.row:last-child>.d-inline-flex>div{
    position: relative;
    transition: .4s;
}
.col-left>div>div>.row:last-child>.d-inline-flex>div:hover{
    background-color: #1d3b42;
    cursor: pointer;
}
.col-left>div>div>.row:last-child>.d-inline-flex>div>i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.friend-name-input-box{
    background: #ccc;
    position: relative;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #00000050;
}
.friend-name-input-box>input{
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    margin-left: 5px;
}
.find-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #3e3e3e;
    border-radius: 50%;
    transition: 1s;
}
.find-button>i{
    font-size:.95em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.close{
    line-height: normal;
    font-size: 1.25rem;
}
*:focus{
    outline: none !important;
}